body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.text {
    text-align: justify;
}

.text-deskripsi {
    text-align: justify;
}

h1 {

    font-family: 'EB Garamond', serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #333;
}

p {

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 2em;
}

.ijo {
    color: #33b412;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    font-style: normal;
    line-height: 2em;
}



#story {
    font-family: 'EB Garamond', serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #333;
}

.angka {
    font-family: 'EB Garmond';
    font-weight: 700;
    color: #33b412;
}

#sub {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 2em;
}

.kolom-3 {
    margin-bottom: 120px;

}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .fade-in.visible {
    opacity: 1;
  }

  .condes {
    margin-top: 100px;
  }

@media only screen and (max-width:576px){
    #ijo1{
        text-align: center;
    }
    #story1{
        text-align: center;
    }
}

.counter p {
    text-align: center;
    
}
